@import '@rainbow-me/rainbowkit/styles.css';
@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-purple: #a78bfa;
  --brand-purple-dark: #BD75F4;
  --brand-purple-light: #c4b5fd;
  --brand-purple-darker: #2A1A36;
}
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #5637d1;
  --color-primary-foreground: #ffffff;
  --color-secondary: #ff7300;
  --color-secondary-foreground: #ffffff;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root  {
  --background: 263 100% 95%;
  --foreground: 263 5% 0%;
  --card: 263 50% 90%;
  --card-foreground: 263 5% 10%;
  --popover: 263 100% 95%;
  --popover-foreground: 263 100% 0%;
  --primary: 263 86.3% 68.4%;
  --primary-foreground: 0 0% 0%;
  --secondary: 263 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 225 30% 85%;
  --muted-foreground: 263 5% 35%;
  --accent: 225 30% 80%;
  --accent-foreground: 263 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 263 5% 90%;
  --border: 263 30% 50%;
  --input: 263 30% 18%;
  --ring: 263 86.3% 68.4%;
  --radius: 0.5rem;
}
.dark  {
  --background: 263 50% 5%;
  --foreground: 263 5% 90%;
  --card: 263 50% 0%;
  --card-foreground: 263 5% 90%;
  --popover: 263 50% 5%;
  --popover-foreground: 263 5% 90%;
  --primary: 263 86.3% 68.4%;
  --primary-foreground: 0 0% 0%;
  --secondary: 263 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 225 30% 15%;
  --muted-foreground: 263 5% 60%;
  --accent: 225 30% 15%;
  --accent-foreground: 263 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 263 5% 90%;
  --border: 263 30% 18%;
  --input: 263 30% 18%;
  --ring: 263 86.3% 68.4%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
